# Visual studio
*.code-workspace
.vscode/

# PyCharm
.idea/

# Environment
key.json
.env


# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
